<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include about.html src='about.md' %}
    {% include download.html src='download.md' btn_lnk='http://example.com' btn_txt = 'Go to Site'%}
    {% include contact.html src='contact.md' %}
    {% include txt_on_img.html src='notes.md' %}
    {% include map.html %}
    {% include txt_on_img.html h1='Heading' %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
